:root{
    --green: #7eaf34;
    --blue: rgb(78, 78, 219);
    --red: rgb(241, 21, 21);
}

body{
    background-color: var(--green);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid white;
    background-color: var(--blue);
}

a{
    text-decoration: none;
}

.nav-item{
    color: white;
    padding: 10px;
    margin: 10px;
}

.nav-active{
    background-color: var(--green);
    border-radius: 10px;
    border: solid white;
}

.nav-item:hover{
    color: var(--green);
}

.nav-active:hover{
    color: var(--blue);
}

h1{
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    font-size: 50px;
    padding: 40px;
}

.contestant-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.contestant{
    text-align: center;
    border-radius: 20px;
    margin: 30px;
}

.contestant img{
    height: 200px;
    border-radius: 50%;
    border: solid var(--blue);
}

.contestant h2{
    color: white;
}

.leaderboard{
    text-align: center;
    color: var(--blue);
    background-color: white;
    padding: 30px;
    padding-left: 45px;
    padding-top: 0px;
    border-radius: 10px;
    line-height: 2rem;
    margin-bottom: 30px;
    border: solid var(--blue);
}

.leaderboard h3{
    font-size: 25px;
    text-transform: uppercase;
}

.gameweek{
    width: 600px;

    background-color: var(--blue);

    border-radius: 10px;
    border: solid white;
    color: white;
}

.week-title{
    text-align: center;
}

.matches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.match h3{
 text-align: center;
 font-size: 24px;
}

.match li{
    font-size: 20px;
    
}

.match .score{
    text-align: center;
    font-size: 24px;
    color: var(--green);
}

.guess{
    color: var(--green);
}

.points-title{
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.week-points{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.middle{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    
}
